@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie:wght@300;400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
:root {
    --primaryColor: #d06224;
    --secondaryColor: #6f6f6f;
}
a {
    text-decoration: none;
    color: #000;
}
button:active {
    transform: scale(0.97);
}
.layout_wrapper {
    overflow: hidden;
}
.layout_container:has(
        .market_wrapper,
        .artwrk_container,
        .cart_wrapper,
        .wishlist_container,
        .profile_container,
        .login_container,
        .register_container,
        .checkout_container
    ) {
    padding: 0 4rem;
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem 2rem;
    color: var(--primaryColor);
}
.nav-logo {
    margin: 0 auto 0 0;
}
.nav-logo a,
.nav-sign a,
.nav-gallery a {
    color: var(--primaryColor);
}
.mobile_ham,
.mobile_menu {
    display: none;
}
.mobile_menu {
    position: absolute;
    width: 90vw;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.8em 1em;
    border: 1px solid var(--primaryColor);
    height: max-content;
    background: rgba(255, 255, 255);
    top: 90%;
    left: -100%;
    border-radius: 2px;
    transform: translate(-100%, 0);
    transition: all 0.8s ease-in-out;
    z-index: 999;
}
.mobile_menu.active {
    top: 90%;
    left: 7%;
    transform: translate(-7%, 0);
}
.mobile_menu div:not(:last-child) {
    padding: 0.4em;
    border-bottom: 1px solid var(--secondaryColor);
}
.mobile_menu a {
    color: #000;
}
.signout-btn button,
.success-btn button {
    padding: 0.7em 1.5em;
    background: var(--primaryColor);
    color: #fff;
    border: 0;
    border-radius: 5px;
    width: 100%;
}
.nav-cart {
    position: relative;
}
.nav-cart a {
    color: var(--primaryColor);
}
.login_container,
.register_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login,
.register {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    overflow: hidden;
}

.bg-login,
.bg-register,
.form-side {
    flex: 1 1 50%;
    width: 400px;
}
.form-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0.8em 3em;
}
.bg-login {
    height: 100%;
    background: url("/backgrounds/door.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(75%);
}
.bg-register {
    background: url("/backgrounds/ballon.jpg");
    filter: none;
    background-size: 400px;
    background-repeat: no-repeat;
    height: 100%;
}
.login-head,
.register-head {
    text-align: center;
}
.login-head h2,
.register-head h2 {
    color: var(--primaryColor);
}
.login-head p,
.register-head p {
    color: var(--secondaryColor);
}
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.7rem;
}
:is(
        .login-form > div:nth-child(-n + 2),
        .register-form > div:not(:last-child)
    ) {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--primaryColor);
    width: 100%;
}

div[data-mode="invalid"] {
    border: 1px solid #ff0000 !important;
    box-shadow: 0 0 2px #ff0000;
}
div[data-mode="invalid"] p {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 1.1em;
    color: #ff0000;
}
:is(.login-form, .register-form) input {
    padding: 0.9em 0.7em 0.7em;
    border: 0;
    width: 100%;
    background: transparent;
}
:is(.login-form, .register-form) span {
    color: var(--secondaryColor);
    display: flex;
    padding: 0.23em;
}
:is(.login-form, .register-form) span:hover {
    color: var(--primaryColor);
}
:is(.login-form, .register-form) input:focus {
    outline: 0;
}
:is(.login-form, .register-form) button {
    padding: 0.8em;
    background: var(--primaryColor);
    color: #fff;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    width: 100%;
}
.sign-in button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background: transparent;
    color: var(--primaryColor);
}
.to-optn p {
    color: var(--secondaryColor);
}
.item-qty {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgb(255, 0, 0);
}
.art_container {
    min-height: 100vh;
    position: relative;
    /* height: 100%; */
    background: #fff;
}
.art_container h2 {
    color: var(--primaryColor);
    font-size: 10rem;
    text-align: center;
}
.art-element {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    font-family: "Reenie Beanie", cursive;
    color: #fff;
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.art-element:nth-of-type(1) {
    background: url("/backgrounds/mona-lisa.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-element:nth-of-type(2) {
    background: url("/backgrounds/wanderer.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%) rotate(370deg);
    transform-origin: 0% 100%;
}
.art-element:nth-of-type(3) {
    background: url("/backgrounds/starry-night.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%) rotate(350deg);
    transform-origin: 100% 100%;
}
.art-element:nth-of-type(4) {
    background: url("/backgrounds/nighthawks.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 65%;
    transform: translate(-65%, -50%) rotate(380deg);
    transform-origin: 0% 100%;
}
.art-element:nth-of-type(5) {
    background: url("/backgrounds/impression-sunrise.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%) rotate(340deg);
    transform-origin: 100% 100%;
}
.art-element:nth-of-type(6) {
    background: url("/backgrounds/girl-with-pearl.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%) rotate(390deg);
    transform-origin: 0% 100%;
}
.art-element:nth-of-type(7) {
    background: url("/backgrounds/claude-monet.jpg");
    background-position: 50% 50%;
    background-size: cover;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%) rotate(330deg);
    transform-origin: 100% 100%;
}
.layer_container {
    display: flex;
    height: 100vh;
    position: relative;
    background: url("/backgrounds/david-michel.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate(0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.layer:nth-child(2) {
    background: url("/backgrounds/girl-with-pearl-wide.jpg");
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    /* z-index: 2; */
}
.layer:nth-child(3) {
    background: url("/backgrounds/the-kiss.jpg");
    background-position: 50% 30%;
    color: #fff;
    background-size: cover;
}
.pin-text {
    text-align: center;
    margin: auto;
    font-size: 4rem;
    color: #fff;
}
.layer-items,
.boxes {
    display: flex;
    font-size: 4rem;
    align-items: center;
    gap: 0.5rem;
}
.box {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    color: var(--primaryColor);
    /* background-color: #000; */
}
.info_container {
    height: 100vh;
    display: flex;
    gap: 1.5rem;
    background: var(--primaryColor);
    padding: 2em;
}
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 50%;
    gap: 0.8rem;
}
.slider-art {
    position: relative;
    height: 60%;
}
.slider .art-slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.8rem;
    min-width: 100%;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transform-origin: unset;
    font-family: "Reenie Beanie", cursive;
    font-size: 1.3rem;
    color: #fff;
    opacity: 0;
    height: 100%;
    transition: opacity 1s cubic-bezier(0, 0.74, 0.89, 0.69);
}
.art-slide:nth-of-type(1) {
    background: url("/backgrounds/mona-lisa.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(2) {
    background: url("/backgrounds/wanderer.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(3) {
    background: url("/backgrounds/starry-night.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(4) {
    background: url("/backgrounds/nighthawks.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(5) {
    background: url("/backgrounds/impression-sunrise.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(6) {
    background: url("/backgrounds/girl-with-pearl.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.art-slide:nth-of-type(7) {
    background: url("/backgrounds/claude-monet.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.slider .art-slide.active {
    opacity: 1;
}
.dots {
    display: flex;
    gap: 0.5em;
    align-self: center;
}
.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 2px;
    position: relative;
    transition: transform 0.5s;
}
.dot.active {
    transform: rotate(45deg);
    background: #fff;
}
.info-more {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
    /* background: #000; */
}
.info-more button {
    padding: 1em 1.5em;
    background: #fff;
    color: var(--primaryColor);
    border: 0;
    border-radius: 5px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    color: var(--primaryColor);
}
.market_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner_container {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.market-banner {
    background: url("/backgrounds/samothrace.jpg");
    background-position: 50% 25%;
    background-size: cover;
    filter: blur(2px);
    height: 100%;
    width: 100%;
}
.banner_container h2 {
    text-transform: uppercase;
    color: var(--primaryColor);
}

.market-action form {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}
.filter-sort {
    display: flex;
    gap: 0.5rem;
}
.search-action {
    display: flex;
    align-items: center;
    width: 50%;
}
.search-action input {
    width: 100%;
    height: 40px;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    outline: 0;
    /* border: 0; */
}
.search-action input::placeholder {
    color: #000;
    text-transform: uppercase;
}
.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    row-gap: 1.5rem;
}
.product-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.product-image {
    position: relative;
}
.product-image img {
    width: 100%;
    min-height: auto;
    object-fit: cover;
    display: block;
}
.like-icon {
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-95%, -10%);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: rgba(208, 98, 36, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: contrast(50px);
}
.like-icon:active {
    transform: translate(-95%, -10%) scale(0.9);
}
.product-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--primaryColor);
    font-weight: 800;
}
.btn-add {
    margin-top: auto;
}
.btn-add button {
    padding: 0.5em 1em;
    border-radius: 15px;
    background: var(--primaryColor);
    color: #fff;
    border: 1px solid var(--primaryColor);
}
.artwrk_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.artwrk-top {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}
.artwrk-btm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}
.artwrk-btm h4 {
    text-transform: uppercase;
}
.artwrk-image img {
    object-fit: cover;
    object-position: center;
    display: block;
    min-width: 100%;
    height: auto;
}
.artwrk-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 0 1 50%;
}
.artwrk-profile,
.artwrk-order--optn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.artwrk-name {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primaryColor);
}
.artwrk-artiste {
    font-weight: 800;
}
.artwrk-descr {
    text-align: justify;
}
.artwrk-price {
    font-weight: 800;
}
.qty-ctrl {
    align-self: start;
    border: 1px solid var(--primaryColor);
    padding: 0.5em 1em;
    border-radius: 20px;
    color: var(--primaryColor);
}
.qty-ctrl,
.order-actn {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.order-actn button {
    padding: 0.8em 2.5em;
    border-radius: 20px;
    border: 1px solid var(--primaryColor);
}
.dec button,
.inc button {
    background: transparent;
    border: 0;
}

.order-actn button:nth-child(1) {
    background: var(--primaryColor);
    color: #fff;
}
.order-actn button:nth-child(2) {
    color: var(--primaryColor);
    background: transparent;
}
.delivery-terms {
    align-self: start;
    border-radius: 5px;
    border: 1px solid var(--primaryColor);
}
.delivery-free {
    border-bottom: 1px solid var(--primaryColor);
}
.delivery-free,
.delivery-return {
    display: flex;
    gap: 0.9rem;
    padding: 1em;
}
.artwork-byartiste {
    display: flex;
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: x proximity;
    padding: 0.5rem 0;
}
.artwork-byartiste::-webkit-scrollbar {
    display: none;
}

.artwork-byartiste a {
    scroll-snap-align: center;
}
.artcrd-card {
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--secondaryColor);
}
.artcrd-image img {
    width: 100%;
    min-height: auto;
    object-fit: cover;
    display: block;
}
.artcrd-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5em;
    font-weight: 800;
}
.cart_container,
.checkout_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
    height: 80vh;
}

.cart-artwrks,
.checkout-info,
.cart-subtotal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    padding: 0.8em 1.5em;
    overflow-y: hidden;
}
.checkout-info {
    overflow-y: scroll;
}
.success_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.success-box {
    width: calc(100vw / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0.8em;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
}
.cart-list,
.wishlist-list {
    display: flex;
    flex-direction: column;
    padding: 0.8em 0 0.8em;
    overflow-y: scroll;
}
:is(.cart-list, .wishlist-list, .checkout-info)::-webkit-scrollbar {
    display: none;
}
.checkout-info > div:first-child {
    border-bottom: 1px solid var(--primaryColor);
}
.checkout-personal,
.checkout-shipping {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.shipping-input,
.personal-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.shipping-input input,
.personal-input input {
    padding: 0.9em 0.7em 0.7em;
    border: 1px solid var(--secondaryColor);
    border-radius: 2px;
    width: 100%;
    background: transparent;
}
.shipping-input div,
.personal-input div {
    position: relative;
}
.first::after {
    content: "First name";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.last::after {
    content: "Last name";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.email::after {
    content: "Email";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.street::after {
    content: "Street";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.zip::after {
    content: "Zip code";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.city::after {
    content: "City";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.country::after {
    content: "Country";
    position: absolute;
    display: block;
    top: -10px;
    left: 10px;
    background: #fff;
}
.cart-count,
.wishlist-count {
    border-bottom: 1px solid var(--primaryColor);
    padding: 0.8em;
}
.cart-subtotal {
    padding: 0.8em 0.8em;
    gap: 1.3rem;
    height: max-content;
}
.cart-subtotal div:not(:last-child) {
    padding: 0.4em;
    border-bottom: 1px solid var(--secondaryColor);
}
.cart-item {
    display: flex;
    flex-direction: column;
    padding: 0.8em 1em 0.8em;
    gap: 0.5rem;
}
:is(.cart-item, .list-item):nth-child(n + 2) {
    border-top: 1px solid var(--secondaryColor);
}
.cart-products {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}
.art-dets {
    display: flex;
    gap: 1.5rem;
}
.artwrk-total {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primaryColor);
}
.cart-ctrl {
    display: flex;
}
.cart-rmv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-transform: uppercase;
}
.cart-optn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.cart-optn > button {
    background: none;
    padding: 0.5em 1em;
    border: 0;
    color: var(--primaryColor);
}
.cart-ctrl {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border: 1px solid var(--primaryColor);
    padding: 0.5em 1em;
    border-radius: 20px;
    color: var(--primaryColor);
}
.cart-dec button,
.cart-inc button {
    background: transparent;
    border: 0;
}

.checkout-dets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.checkout-btn button {
    background: var(--primaryColor);
    width: 100%;
    padding: 0.6em;
    border: 1px solid var(--primaryColor);
    color: #fff;
    border-radius: 5px;
}
.wishlist-artwrks,
.profile-details {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    padding: 0.8em 2em;
    overflow-y: hidden;
}
:is(.wishlist-artwrks, .cart-artwrks) > p {
    text-align: center;
    margin: auto;
}
.list-item {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1em 0.8em;
}
.list-dets {
    display: flex;
    gap: 1.5rem;
}
.list-optn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}
.list-rmv button {
    background: var(--primaryColor);
    width: 100%;
    padding: 0.5em 0.7em;
    border: 1px solid var(--primaryColor);
    color: #fff;
    border-radius: 5px;
}
.list-buy button {
    background: transparent;
    width: 100%;
    padding: 0.5em 0.7em;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 5px;
}
.profile_container,
.wishlist_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
    height: 80vh;
}
.menu_container {
    display: flex;
    flex-direction: column;
    padding: 0.8em 1em;
    border-radius: 5px;
    border: 1px solid var(--primaryColor);
    height: max-content;
}
.menu_container div:not(:last-child) {
    padding: 0.4em;
    border-bottom: 1px solid var(--secondaryColor);
}
.menu_container div:last-child {
    padding: 0.4em 0 0.4em;
}
.profile-details {
    gap: 0.9rem;
    justify-content: center;
}
.personal img {
    border-radius: 50%;
}
.profile-details :is(.personal) {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.personal {
    align-items: center;
    align-self: center;
}

@media screen and (max-width: 540px) {
    .layout_container:has(
            .market_wrapper,
            .artwrk_container,
            .cart_wrapper,
            .wishlist_container,
            .profile_container,
            .login_container,
            .register_container,
            .checkout_container
        ) {
        padding: 0 2rem;
    }
    .navbar {
        padding: 1.5rem;
        gap: 2rem;
    }
    .menu_container {
        display: none;
    }
    .mobile_ham {
        display: block;
    }
    .mobile_menu {
        display: flex;
    }
    .nav-sign svg,
    .nav-cart svg,
    .nav-gallery svg {
        width: 20px;
        height: 20px;
    }
    .item-qty {
        width: 13px;
        font-size: 12px;
        height: 13px;
    }
    .art_container h2 {
        font-size: 3rem;
    }
    .art-element:nth-of-type(1) {
        top: 40%;
    }
    .art-element:nth-of-type(2) {
        top: calc(40% + 2rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .art-element:nth-of-type(3) {
        top: calc(40% + 4rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .art-element:nth-of-type(4) {
        top: calc(40% + 6rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .art-element:nth-of-type(5) {
        top: calc(40% + 8rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .art-element:nth-of-type(6) {
        top: calc(40% + 10rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .art-element:nth-of-type(7) {
        top: calc(40% + 12rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
    }
    .info_container {
        padding: 2em; /**/
        flex-direction: column;
        gap: 1.5rem;
        align-items: center; /*?*/
    }
    .slider {
        justify-content: start;
        gap: 0.5rem;
        width: 100%; /*?*/
    }
    .slider-art {
        height: 100%;
    }
    .slider .art-slide {
        font-size: 0.8rem;
    }
    .info-more {
        text-align: justify;
        font-size: 1rem;
    }
    .pin-text,
    .boxes {
        font-size: 1.5rem;
    }
    .layer-items {
        flex-direction: column;
        font-size: 1.5rem;
    }
    .bg-login,
    .bg-register {
        display: none;
    }
    .form-side {
        padding: 0.8em 2em;
    }
    .artwrk-top {
        flex-direction: column;
    }
    .artwrk-image img {
        max-width: 100%;
        height: auto;
    }
    .cart_container,
    .checkout_container {
        grid-template-columns: 1fr;
    }
    .checkout_container .cart-artwrks,
    .checkout-info {
        padding: 0.8em;
    }
    .checkout-personal,
    .checkout-shipping {
        padding: 0.8em;
    }
    .cart-products {
        flex-direction: column;
        gap: 0.5rem;
    }
    .artwrk-total {
        align-self: flex-end;
    }
    .cart-optn > button {
        padding: 0;
    }
    .cart-rmv svg {
        width: 20px;
        height: 20px;
    }
    .cart-ctrl {
        gap: 0.5rem;
        padding: 0.5em;
    }
    .subtotal-head,
    .checkout-dets {
        display: none;
    }
    .profile_container,
    .wishlist_container {
        grid-template-columns: 1fr;
    }
    .checkout_container .checkout-dets {
        display: flex;
    }
    .cart-subtotal {
        gap: 0.1rem;
    }
    .cart-subtotal div:not(:last-child) {
        padding: 0.2em;
    }
    .wishlist-artwrks,
    .profile-details {
        padding: 1em;
    }
    .list-item {
        flex-direction: column;
        gap: 0.5rem;
    }
    .list-optn {
        gap: 0.5rem;
    }
    .success-btn button {
        padding: 0.5em;
    }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
    .layout_container:has(
            .market_wrapper,
            .artwrk_container,
            .cart_wrapper,
            .wishlist_container,
            .profile_container,
            .login_container,
            .register_container
        ) {
        padding: 0 3rem;
    }
    .mobile_ham {
        display: block;
    }
    .mobile_menu {
        display: flex;
    }
    .menu_container {
        display: none;
    }
    .nav-sign svg,
    .nav-cart svg,
    .nav-gallery svg {
        width: 25px;
        height: 25px;
    }
    .art_container h2 {
        font-size: 5rem;
    }
    .info_container {
        padding: 2.5em;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center; /*?*/
    }
    .slider {
        justify-content: start;
        gap: 0.5rem;
        width: 100%; /*?*/
    }
    .slider-art {
        height: 100%;
    }
    .slider .art-slide {
        font-size: 0.8rem;
    }
    .art-element:nth-of-type(2) {
        top: 50%;
        left: 70%;
        transform: translate(-70%, -50%);
    }
    .art-element:nth-of-type(3) {
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
    }
    .art-element:nth-of-type(4) {
        top: 50%;
        left: 75%;
        transform: translate(-75%, -50%);
    }
    .art-element:nth-of-type(5) {
        top: 50%;
        left: 25%;
        transform: translate(-25%, -50%);
    }
    .art-element:nth-of-type(6) {
        top: 50%;
        left: 80%;
        transform: translate(-70%, -50%);
    }
    .art-element:nth-of-type(7) {
        top: 50%;
        left: 20%;
        transform: translate(-30%, -50%);
    }
    .artwrk-top {
        flex-direction: column;
    }
    .artwrk-image img {
        max-width: 100%;
        height: auto;
    }
    .pin-text,
    .boxes {
        font-size: 2rem;
    }
    .layer-items {
        flex-direction: column;
        font-size: 2rem;
    }
    .bg-login,
    .bg-register {
        display: none;
    }
    .form-side {
        padding: 0.8em 2em;
    }
    .cart_container {
        gap: 0.5rem;
    }
    .cart-products {
        flex-direction: column;
        gap: 0.5rem;
    }
    .artwrk-total {
        align-self: flex-end;
    }
    .profile_container,
    .wishlist_container {
        grid-template-columns: 1fr;
    }
    .wishlist-artwrks,
    .profile-details {
        padding: 1.5em;
    }
    .checkout-personal,
    .checkout-shipping,
    .checkout-info {
        padding: 0.8em;
    }
    .cart-subtotal {
        gap: 0.3rem;
    }
    .cart-subtotal div:not(:last-child) {
        padding: 0.3em;
    }
    .list-item {
        flex-direction: column;
        gap: 0.5rem;
    }
    .list-optn {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .art_container h2 {
        font-size: 6rem;
    }
    .art-element:nth-of-type(2) {
        top: 50%;
        left: 70%;
        transform: translate(-70%, -50%);
    }
    .art-element:nth-of-type(3) {
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
    }
    .art-element:nth-of-type(4) {
        top: 50%;
        left: 75%;
        transform: translate(-75%, -50%);
    }
    .art-element:nth-of-type(5) {
        top: 50%;
        left: 25%;
        transform: translate(-25%, -50%);
    }
    .art-element:nth-of-type(6) {
        top: 50%;
        left: 80%;
        transform: translate(-70%, -50%);
    }
    .art-element:nth-of-type(7) {
        top: 50%;
        left: 20%;
        transform: translate(-30%, -50%);
    }
    .layer-items {
        flex-direction: column;
    }
    .artwrk-image img {
        max-width: 100%;
        height: auto;
    }
    .form-side {
        padding: 0.8em 2em;
    }
}
